{
  "extends": "next",
  "rules": {
    // Temporary off.
    // Delete this once Next.js oficially supports for the image optimization for static websites.
    // Details: https://github.com/vercel/next.js/discussions/19065
    "@next/next/no-img-element": "off"
  }
}
