#!/usr/bin/env ruby

# https://github.com/Compass/compass/wiki/nanoc-integration
require 'compass'
Compass.add_project_configuration('compass/config.rb')

preprocess do
end

langs = config[:supported_languages].join('|')
doc_extensions = config[:supported_document_extensions].join('|')

default_layout = '/default.*'

compile '/**/*.scss' do
    filter :sass, Compass.sass_engine_options
    write "/assets/css/compiled/#{File.basename(item.identifier.to_s, '.scss')}.css"
end

compile /.*\.(#{doc_extensions})/ do
    # filters
    case item[:extension]
    when 'erb'
        filter :erb
    when 'slim'
        filter :slim, pretty: true
    when /^(markdown|md)$/
        filter :commonmarker, [:DEFAULT]
    end

    # layouts and routes
    case item.identifier
    when %r{/index\..*}
        layout '/content-only.*'
        write '/index.html'
    when %r{^/(?<id>.*)/(?<lang>#{langs})\..*(#{doc_extensions})$}
        # Full localized pages like the homepage or the blog's top page
        layout default_layout
        write "/#{$~[:lang]}/#{$~[:id]}.html"
    when %r{^/(?<dir>.*)/(?<lang>#{langs})/(?<name>.*)\.(#{doc_extensions})}
        # Non localized pages like blog's articles
        layout default_layout
        id = $~[:dir] + '/' + $~[:name]
        write "/#{$~[:lang]}/#{id}/index.html"
    end
end

compile '/**/*' do
    write item.identifier.to_s
end

layout '/**/*.erb', :erb
layout '/**/*.md', :commonmarker, [:DEFAULT]
layout '/**/*.slim', :slim, pretty: true
