{{ partial "header.html" . }}
<div class="container">
  <h2>{{ .Params.apps }}</h2>
  <ul class="apps list-unstyled">
    <li>
      <div class="media-left">
        <img class="media-object app-img" src="http://mshibanami.github.io/randomtube/img/logo-mark.png" alt="RandomTube">
      </div>
      <div class="media-body">
        <h4>
          <a href="https://mshibanami.github.io/randomtube/">
            RandomTube
          </a>
        </h4>
        {{ .Params.randomtube_description }}
      </div>
    </li>
  </ul>
  <h2>{{ .Params.blog }}</h2>
  <ul>
    <li>
      <a href="blog/">{{ .Params.blog }}</a>
    </li>
    <li>
      <a href="http://qiita.com/mshibanami/items">Qiita</a>
    </li>
  </ul>
</div>
{{ partial "footer.html" . }}
