@charset "UTF-8";
@import "foundation";
@import "layout/_header";
@import "layout/_footer";
@import "layout/_paging";

.summaries {
    padding-top: 30px;
    padding-bottom: 20px;

    h2 {
        margin-bottom: 1rem;
    }
    h3 {
        margin-bottom: 0rem;
    }
}

.item-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 6px;

    h3 {
        font-size: 1.5rem;
    }
}

.blog-post {
    header {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    pre {
        margin-bottom: 16px;
    }

    h2 {
        margin-top: 20px;
    }
}

.date {
    color: #aaa;
}

// Waiting for https://github.com/zurb/foundation-sites/issues/8356
.medium-align-left,
.medium-align-center,
.medium-align-right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    box-pack: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (min-width: 640px) {
    .medium-align-left {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pwack: start;
        box-pack: start;
        justify-content: flex-start;
        text-align: left;
    }
    .medium-align-right {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        box-pack: end;
        justify-content: flex-end;
        text-align: right;
    }
}
