@charset "UTF-8";
@import 'foundation';
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h2 {
    margin-top: 40px;
}

.site-name {
    font-size: 1.5rem;
    margin: 0;
    color: #666;
}

header {
    padding-top: 4px;
    padding-bottom: 4px;
}

footer {
    background-color: #f4f4f6
}

.copyright {
    color: #aaa;
}

.sns-icons {
    list-style-type: none;
    font-size: 0;
    margin: 0;
    li {
        font-size: 1.5rem;
        display: inline-block;
        margin-left: 14px;
    }
}

.cards {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card {
    border: 1px solid #ddd;
    padding: 16px;
}

.is-active {
    font-weight: bold;
}

// https://foundation.zurb.com/building-blocks/blocks/hover-underline-menu.html
$menu-underline-from-center-bg: #f8f8f8;
$menu-underline-from-center-border-thickness: 0.125rem;
.hover-underline-menu {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    .menu {
        background-color: $menu-underline-from-center-bg;
        li {
            a {
                color: #999;
                font-size: 0.9rem;
                padding: 16px 16px;
                &.underline-from-center {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        top: calc(100% - #{$menu-underline-from-center-border-thickness});
                        border-bottom: $menu-underline-from-center-border-thickness solid #999;
                        left: 50%;
                        right: 50%;
                        transition: all 0.5s ease;
                    }
                    &:hover::after {
                        left: 0;
                        right: 0;
                        transition: all 0.5s ease;
                    }
                }
            }
            &.is-active {
                a {
                    background: none;
                    color: #333;
                }
            }
        }
    }
}
