@charset "UTF-8";

@import "../node_modules/normalize-scss/normalize";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: bold;
}

#header {
  padding-top: 20px;
}

.apps {
  li > div {
    vertical-align: middle;
  }

  h4 {
    margin: 0 0 5px;
  }
}

.app-img {
  height: 64px;
  width: same-as-width;
}