$footer-border-color: #e7e7e7;

.footer {
    background-color: #f4f4f6;
    border-top: 1px solid $footer-border-color;
    padding-top: 30px;
    padding-bottom: 30px;
    a {
        color: #666;
    }
    a:hover {
        color: #999;
    }
}

.copyright {
    color: #aaaaaa;
}

.sns-icons {
    list-style-type: none;
    font-size: 0;
    margin: 0;
    li {
        font-size: 2rem;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
}
