- page_number = 1
- matches = @item.identifier.to_s.match(%r{/blog/(?<page_number>\d)})
- page_number = matches[:page_number].to_i unless matches.nil?
== render '/partials/items-summaries.slim', kind: 'article', page_number: page_number
