- rule = item_rule()
#disqus_thread
javascript:
    var disqus_config = function () {
            this.page.url = "#{@config[:base_url]}#{rule.output_path}";
            this.page.identifier = "#{rule.output_path_base}";
            this.page.title = "#{@item[:title]}"
    };
    (function() {
            var d = document, s = d.createElement('script');
            s.src = "//#{@config[:disqus_id]}.disqus.com/embed.js";
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
    })();
noscript
    Please enable JavaScript to view the
    a href="https://disqus.com/?ref_noscript" rel="nofollow"  comments powered by Disqus.
