meta charset="utf-8"
meta content="IE=edge" http-equiv="X-UA-Compatible"
meta content="width=device-width, initial-scale=1" name="viewport"
title
  = @config[:title]
meta content="#{@config[:author]}" name="author"
- if @config[:description]
  meta content="#{@config[:description]}" name="description"
- if @config[:keywords] && @config[:keywords].any?
  meta content="#{@config[:keywords].join(',')}" name="keywords"
meta content="website" property="og:type"
meta content="#{@config[:title]}" property="og:title"
meta content="#{@config[:base_url]}/apple-touch-icon.png" property="og:image"
meta content="#{@config[:base_url]}#{output_path}" property="og:url"
meta content="#{language.code}_#{language.region_code}" property="og:locale"
link href="#{@config[:base_url]}/favicon.png" rel="icon" type="image/png"
link href="#{@config[:base_url]}/apple-touch-icon.png" rel="apple-touch-icon"
link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" rel="stylesheet"
link href="#{@config[:base_url]}/assets/css/compiled/style.css" rel="stylesheet"
