<!doctype html>
<html lang="{{ .Params.lang }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Params.Author }}">
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{delimit .Keywords " , "}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}apple-touch-icon.png">
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:locale" content="{{ .Params.lang }}_{{ index .Site.Params.Countries .Params.lang }}">
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}apple-touch-icon.png">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/compiled/style.css">
  <link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
  <script src="{{ .Site.BaseURL }}bower_components/modernizr/modernizr.js"></script>
</head>

<body>
  <div id="header">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <span>
          {{ range $lcode := .Site.Params.SupportLanguages }}
            {{ if ne $lcode $.Params.lang }}
              <a href="/{{ $lcode }}/" target="_self">{{ index $.Site.Params.Languages $lcode }}</a>
            {{ end }}
          {{ end }}
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
