doctype html
html lang="#{language.code}"
  head
    meta charset="utf-8"
    script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"
  body
    .reveal
      .slides
        == yield

    link href="/lib/reveal.js/dist/reveal.css" rel="stylesheet"
    link href="/assets/css/compiled/revealjs-theme.css" rel="stylesheet"
    script src="/lib/reveal.js/dist/reveal.js"
    javascript:
      Reveal.initialize({
        dependencies: [
            {
              src: '/lib/reveal.js/plugin/markdown/marked.js',
              condition: function () {
                return !!document.querySelector('[data-markdown]');
              }
            },
            {
              src: '/lib/reveal.js/plugin/markdown/markdown.min.js',
              condition: function () {
                return !!document.querySelector('[data-markdown]');
              }
            },
        ],
        history: true,
        transition: "fade",
        center: false,
        width: 1920,
        height: 1100,
      });

    == render '/partials/highlightjs.slim'
    == render '/partials/google-analytics.erb'
